/* General Styles */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #111; /* Dark background color */
    padding: 1rem;
    transition: background-color 0.3s ease;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #fff; /* White text color */
    transition: color 0.3s ease;
}

.navbar.sticky-top {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

/* Add a shadow to the navbar when scrolling */
body:not(.scrolled) .navbar {
    box-shadow: none;
}

/* Header Styles */
header {
    background: linear-gradient(to bottom, #111, #000); /* Gradient background */
}

/* Main Styles */
main {
    padding: 2rem 0;
}

/* Partner List Styles */
.partner-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.partner-list img {
    max-width: 100px;
    max-height: 50px;
    margin: 1rem;
    filter: grayscale(100%); /* Partner logos in grayscale */
    transition: filter 0.3s ease;
}

.partner-list img:hover {
    filter: grayscale(0%); /* Restore color on hover */
}

/* Footer Styles */
.footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

/* Animation Styles */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Apply fadeInUp animation to specific elements */
.animated-fadeInUp {
    animation: fadeInUp 1s ease;
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    /* Add specific dark mode styles here */
    body {
        background-color: #000;
        color: #fff;
    }
}
